function loadCommMap(community, restaurants){
  function initialize(){
    var coords = new google.maps.LatLng(community.latitude, community.longitude);

    var mapOptions = {
      center: new google.maps.LatLng(community.latitude, community.longitude),
      zoom: 18
    };


    var image = 'images/heart-icon-small.png';
    var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

    var marker = new google.maps.Marker({position: coords, map: map, icon:image});

    var infowin = new google.maps.InfoWindow();

    var com_name = community.name;

    google.maps.event.addListener(marker, 'click', (function(marker) {
        var com_name = community.name;
        return function() {
          infowin.setContent("<h3 class='community'>" + com_name + "</h3>");
          infowin.open(map, marker);
        }
      })(marker));


    var restaurant_coords = restaurants;
    
    var infowindow = new google.maps.InfoWindow();


    var marker, i;

    for (i = 0; i <= restaurant_coords.length-1; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(restaurant_coords[i][0], restaurant_coords[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<span class="restaurant"><a href="/restaurants/' + restaurant_coords[i][3] 
            + '"><h3>' + restaurant_coords[i][2] 
            + '</h3></a><p>' + restaurant_coords[i][4] 
            + '</p><a href="' + restaurant_coords[i][5] + '">Yelp It Up!</a><span>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }
  google.maps.event.addDomListener(window, 'load', initialize)
}

function add_restaurants(map){
  

}
