function loadCommMap(community, restaurants){
  function initialize(){
    var coords = new google.maps.LatLng(community.latitude, community.longitude);

    var mapOptions = {
      center: new google.maps.LatLng(community.latitude, community.longitude),
      zoom: 18
    };

    var image = 'public/images/heart_icon.png';
    var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

    var marker = new google.maps.Marker({position: coords, map: map, icon:image});

    var restaurant_coords = restaurants;
    
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i <= restaurant_coords.length-1; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(restaurant_coords[i][0], restaurant_coords[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        console.log("Restaurant Id: " + restaurant_coords[i][3])
        return function() {
          infowindow.setContent('<a href="/restaurants/' + restaurant_coords[i][3] 
            + '"><h3>' + restaurant_coords[i][2] 
            + '</h3></a><a href="http://yelp.com">Yelp It Up!</a><br><p>Rating:</p>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  }
  google.maps.event.addDomListener(window, 'load', initialize)
}

function add_restaurants(map){
  

}
