<div id="new-group" class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h4>Create a new group:</h4>
    <%= form_for [community, group], html: {class: "form-inline"} do |f| %>

      <%= f.hidden_field :community_id, value: community.id %>

      <div class="form-group">
        <%= f.collection_select :restaurant_id, community.restaurants, :id, :name,
            {prompt: "Choose a Local Restaurant"}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>