// Index Page

#communities-list {

  margin-bottom: 50px;
  padding-left: 12px;

  h2 {
    margin-bottom: 25px;
  }

}

#new-community-button {
  float: right;
  margin-right: 32px;
}

.community {

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #2c3e50;
  margin-bottom: 20px;
  padding: 5px;

  .row {
    margin: 0px;
  }

  .name {
    margin-top: 8px;
    text-align: center;
  }

  .members {

    margin: 8px;

    h4 {
      display: inline-block;
    }

    form {
      margin-top: 6px;
      display: inline-block;
      vertical-align: bottom;

      .btn {
        height: 32px;
        display: inline-block;
      }
    }
  }
}



// New form

#new_community {
  margin-top: 30px;
}



// Show Page

#community-header {
  .name {

  }
}

#community-map {
  height: 400px;
}

#restaurant-list {

  margin-bottom: 50px;
  min-height: 400px;

  .restaurant {
    .name {
      display: inline-block;
    }

    .category {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .pagination {

    margin-top: 35px;

    li a, li span {
      background-color: #f5fafa;
    }
  }
}
