// Index Page

#communities-list {
  margin-bottom: 70px;
}

.community {

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #2c3e50;
  padding: 5px;

  .row {
    margin: 0px;
  }

  .name {
    margin-top: 8px;
    text-align: center;
  }

  .members {

    margin: 8px;

    h4 {
      display: inline-block;
    }

    form {
      margin-top: 6px;
      display: inline-block;
      vertical-align: bottom;

      .btn {
        height: 32px;
        display: inline-block;
      }
    }
  }
}

// Show Page

#community-map {
  height: 500px;
}

#restaurant-list{
  margin-bottom: 50px
}

#restaurant-list h4 {
  margin-bottom: 30px;
}

#restaurant-list h3 {
  margin-bottom: 0px;
}

#restaurant-list .restaurant-name {
  display: inline-block;
}

#restaurant-list .restaurant-category {
  display: inline-block;
  margin-left: 10px;
}

// New form

#new_community {
  margin-top: 30px;
}