// Index Page

#communities-list {
  margin-bottom: 70px;
}

.community {

  .community-name {
    display: inline-block;
    margin: 15px 5px;
  }

  .member-of-community, .join-community {
    margin-left: 15px;
    display: inline-block;
  }

}

// Show Page

#community-map {
  height: 500px;
}

#restaurant-list{
  margin-bottom: 50px
}

#restaurant-list h4 {
  margin-bottom: 30px;
}

#restaurant-list h3 {
  margin-bottom: 0px;
}

#restaurant-list .restaurant-name {
  display: inline-block;
}

#restaurant-list .restaurant-category {
  display: inline-block;
  margin-left: 10px;
}

// New form

#new_community {
  margin-top: 30px;
}