/* Some Style from the Bootstrap Default Theme */

.navbar {
  background-image: none;
}

.navbar-header a{
  background-image:url('lunchpadlogo.png');
  background-size:100%;
  width:140px;
}

.navbar-header a:hover:before{
  content: "";
  display:block;
  position:absolute;
  width:140px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.1);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.navbar ul {

  a {

    font-size: 16px;

    &:hover {
      color: #333;
      background: #eeeeee;
    }

  }

  .lunch-groups a {
    padding-left: 25px;
  }

}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}

a:hover {
  text-decoration: none;
}

/* Error Messages */

.error_explanation {
  color: #c0392b;
  font-weight: bold;
}

.error_explanation h4 {
  color: #c0392b;
}

/* For Maps and shit */

#map-canvas {
  height: 100%;
  width: 100%;
}

#panel{
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#directions-panel{
  height: 100%;
  overflow: auto;
}

#control{
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}

@media print {
  #map-canvas {
    height: 500px;
    margin: 0;
  }
  #directions-panel {
    float: none;
    width: auto;
  }
}

/* Index Page */

#about {

  background: white url('rotatedlogo.png') no-repeat center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 30px 25px 0px 0px;
  padding: 10px;

  .title {
    text-align: center;
    margin: 15px 0px 25px 0px;
  }

  .lead {
    color: #495050;
  }

}

#footer {

  html, body{
    height:100%;
  }

  margin-top: 30px;
  background: white;
  padding: 15px 0px;
  text-align: center;
  position:relative;
  bottom:0;

  .lead {
    font-size: 21px;
    margin-bottom: 5px;
  }

}