.group {
  margin-top: 15px;
}

.group-restaurant, .group-time {
  display: inline;
}

.current-member-group .group-time {
  margin-left: 5px;
  cursor:pointer;
}

.update-time {
  height:33px;
  display:inline-block;
}

.update-time input {
  height:33px;
  width:74px;
}

.current-member-group .group-time{
  border:1px solid black;
  padding:0px 8px;
  border-radius:10px;
}

.group-info {
  font-style: italic;
}

.group-members ul li {
  margin-left: 7px;
}

.group-join-leave {
  margin-top: 25px;
}

#new-group {
  margin-top: 100px;
}

#new-group div form {
  margin: 20px 0px 10px 15px;
}