#restaurant-info{

  #name{
    display:inline-block;
  }

  #category{
    margin-left:12px;
    display:inline-block;
    font-size:24px;
  }
  
  #address{
    margin-top:0px;
    font-size:22px;
    font-style:italic;
  }

  #review-average {
    display: inline-block;
    font-size:24px;
    margin-top:0px;
  }

  #yelp-link {
    margin-left: 20px;
    font-size:20px;
    display:inline-block;
  }

  .yelp_image{
    height:250px;
    width:250px;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow:hidden;
  }

  .yelp_image img{
    height:100%;
    width:100%
  }

}



/* Maps/Directions */

#map-directions-border {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #2c3e50;
}

#restaurant-map {
  height: 400px;
  margin: 10px 0px 10px 0px;
}

// Initially hide directions

#directions-panel {
  display:none;
  max-height: 400px;
  min-height: 400px;
  y-overflow: scroll;
  margin: 10px 0px 10px 0px;
}

#directions-toggle {
  margin: 5px 0px 5px 10px;
}

/* Reviews */

#reviews div {
  margin-top: 15px;
}

/* Restaurant Selector (in Modal) */
tr.restaurant_choice {
  cursor: pointer;
  cursor: hand;
}
