<div id="communities-list">
  <% @communities.each do |community| %>

    <h1 class="community_name"><%= link_to community.name, community %></h1><br><br>

  <% end %>
</div>

<%= button_to 'New Community', new_community_path, class: "btn btn-lg btn-primary" %>