<div id="communities-list" class="row">
  <%= render @communities %>
</div>

<% if member_signed_in? %>
  <%= button_to 'Create a New Community', new_community_path, method: :get, class: "btn btn-lg btn-success" %>
<% end %>