<div id="communities-list" class="row">

<% if member_signed_in? %>
  <%= render current_member.communities %>
  <%= render current_member.foreign_communities %>
<% else %>
  <%= render @communities %>
<% end %>

</div>

<% if member_signed_in? %>
  <%= button_to 'Create a New Community', new_community_path, method: :get, class: "btn btn-lg btn-success" %>
<% end %>