<h1><%= @community.name %></h1>

<!-- Map goes here -->

<div>
  <h3>Restaurants in your community</h3>
  <%= render @community.restaurants %>
  <% if member_signed_in? %>
    <%= link_to "Add a restaurant", new_restaurant_path %>
    <%= render 'restaurants/form', restaurant: Restaurant.new(community_id: @community.id) %>
  <% end %>
</div>